.alert {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: $text-color;
  &.alert-success {
    background: rgba($success-color, 0.25);
  }
  &.alert-warning {
    background: rgba($warning-color, 0.25);
  }
  &.alert-danger {
    background: rgba($danger-color, 0.25);
  }
}