.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid $primary-color;
  cursor: pointer;
  text-decoration: none;
  &.btn-primary {
    background: $primary-color;
    color: white;
  }
  &.btn-secondary {
    background: transparent;
    color: $primary-color;
  }
}
